@model WebMvc.Models.CurrentUser;
@using Microsoft.AspNetCore.Http;

@{
    var userSession = Newtonsoft.Json.JsonConvert.DeserializeObject<CurrentUser>(base.Context.Session.GetString("CurrentUserSession"));
}

<div class="row">
    <div class=" col-md-4">
        <h2>Mode id:@Model.Id</h2>
        <h2>Mode Name:@Model.Name</h2>
        <h2>Mode LoginTime:@Model.LoginTime</h2>
    </div>
    <div>****************************************</div>
    <div class=" col-md-4">
        <h2>session id:@userSession.Id</h2>
        <h2>session Name:@userSession.Name</h2>
        <h2>session LoginTime:@userSession.LoginTime</h2>
    </div>
</div>
